.blogpost_list {

}

/*------------------------------------------
  Responsive Grid Media Queries - 1280, 1024, 768, 480
   1280-1024   - desktop (default grid)
   1024-768    - tablet landscape
   768-480     - tablet 
   480-less    - phone landscape & smaller
--------------------------------------------*/
@media all and (min-width: 1024px) and (max-width: 1280px) { }

@media all and (min-width: 768px) and (max-width: 1024px) { }

@media all and (min-width: 480px) and (max-width: 768px) {

}


@media all and (max-width: 480px) {
}

/*------------------------------------------
  Foundation Media Queries 
   http://foundation.zurb.com/docs/media-queries.html
--------------------------------------------*/

/* Small screens - MOBILE */
@media only screen {
  .navbar-img {
    display: none;
    background-: #fff;
  }
  a.navbar-brand {
    background-image: url(./logo.svg);
    height: 80px;
    width: 80px;
    background-repeat: no-repeat;
  }

  span.navbar-toggler-icon:hover {
    background-image: url(./menu-2-hover.svg)!important;
  }


  span.navbar-toggler-icon {
    background-image: url(./menu-2.svg)!important;
  }

  .portfolio-card,
  .portfolio-nav {
	  margin-top: 30px;
	  display: inline-block;
	  width: 100%;
  }
  .card-disp img {
	  width: 200px;
	  height: 100px;
  }

  .card-disp h4
  {
	  min-height: 150px
  }
  
  .portfolio-nav a:nth-of-type(2) {
	  color: green;
	  display: block;
  }
  
  *{
	  font-family: 'KongtextRegular';
  }

  .jumbotron {
	  padding-bottom: 40vh;
	  text-align: center;
  }

  .portfolio-nav,
  .card-disp    {
	  text-align: center;
	  
  }

  h1.display-4 {
	  display: inline;
	  font-size: 1.9em;
	  letter-spacing: -0.6em;
	  line-height: 2em;
	  margin-bottom: 3em;
  }

  .main {
	  display: flex;
  }
  h2 {
	  width: 100%;
  }
  textarea, input, .main {
	  text-align: center;
	  margin-top: 10px; margin-bottom: 10px; border: 6px solid black;
	  background: #e1e1e1; padding: 5px;
  }
  h1.display, #id1, #id2, #id3 {
	  display: inline;
	  transition: color 1s ease;
  }
  

} /* Define mobile styles - Mobile First */

@media only screen and (max-width: 40em) {
  .main {
	  display: flex;
	  flex-flow: wrap;
  }
  h2 {
	  width: 100%;
	  flex: 1;
  }
  textarea, input[type=text], .main {
	  flex: 1;
	  width: 100%;
	  border: 1px solid black;
	  background: #e1e1e1; padding: 5px;

  }
  .container {
	  padding: 0 0 0 0;
  }
  h1.display, #id1, #id2, #id3 {
	  display: inline;
	  transition: color 1s ease;
  }



} /* max-width 640px, mobile-only styles, use when QAing mobile issues */

/* Medium screens - TABLET */
@media only screen and (min-width: 40.063em) { } /* min-width 641px, medium screens */

@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  h1.display-4 {
	  display: inline;
	  
	  transition: color 1s ease-out;
	  
	  
  }
  .navbar-img {
    height: 80px;
    background-: #fff;
  }
  a.navbar-brand {
    background-image: url(./logo.svg);
    height: 80px;
    width: 80px;
    background-repeat: no-repeat;
  }

} /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

/* Large screens - DESKTOP */
/* min-width 1025px, large screens */
@media only screen and (min-width: 64.063em) {
  .portfolio-card {
	  width: 108px;
	  height: 40%;
  }
  h1.display-4 {
	  display: inline;
	  transition: color 1s ease;
	  
  }

  .navbar-toggler-icon {
    background-image: url(./menu-2.svg)!important;
  }
  .navbar-img {
    height: 80px;
    background-: #fff;
  }
  a.navbar-brand {
    background-image: url(./logo.svg);
    height: 80px;
    width: 80px;
    background-repeat: no-repeat;
  }

}  

@media only screen and (min-width: 64.063em) and (max-width: 90em) {
} /* min-width 1024px and max-width 1440px, use when QAing large screen-only issues */

/* XLarge screens */
@media only screen and (min-width: 90.063em) { } /* min-width 1441px, xlarge screens */

@media only screen and (min-width: 90.063em) and (max-width: 120em) { } /* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */

/* XXLarge screens */
@media only screen and (min-width: 120.063em) { } /* min-width 1921px, xlarge screens */

/*------------------------------------------*/



/* Portrait */
@media screen and (orientation:portrait) { /* Portrait styles here */ }
/* Landscape */
@media screen and (orientation:landscape) { /* Landscape styles here */ }


/* CSS for iPhone, iPad, and Retina Displays */

/* Non-Retina */
@media screen and (-webkit-max-device-pixel-ratio: 1) {
}

/* Retina */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {
}

/* iPhone Portrait */
@media screen and (max-device-width: 480px) and (orientation:portrait) {
} 

/* iPhone Landscape */
@media screen and (max-device-width: 480px) and (orientation:landscape) {
}

/* iPad Portrait */
@media screen and (min-device-width: 481px) and (orientation:portrait) {
}

/* iPad Landscape */
@media screen and (min-device-width: 481px) and (orientation:landscape) {
}
